[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".config/polybar/polybar-spotify"]
	path = .config/polybar/polybar-spotify
	url = https://github.com/PrayagS/polybar-spotify.git
